.antd-pro-components-global-header-index-header {
  position: relative;
  height: 69px;
  padding: 0;
  border: 1px solid #eee;
  background: #fff;
  margin: 24px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.09)
}

.antd-pro-components-global-header-index-logo {
  display: inline-block;
  height: 64px;
  padding: 0 0 0 24px;
  font-size: 20px;
  line-height: 64px;
  vertical-align: top;
  cursor: pointer
}

.antd-pro-components-global-header-index-logo img {
  display: inline-block;
  vertical-align: middle
}

.antd-pro-components-global-header-index-menu .anticon {
  margin-right: 8px
}

.antd-pro-components-global-header-index-menu .ant-dropdown-menu-item {
  min-width: 160px
}

.antd-pro-components-global-header-index-trigger {
  height: 64px;
  padding: 22px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  left: 0;
  position: relative;
  border-radius: 37px;
  top: 14px
}

.antd-pro-components-global-header-index-trigger:hover {
  color: #000
}

.antd-pro-components-global-header-index-trigger i {
  color: #fff;
  background: #090c14;
  padding: 8px;
  margin-left: 0;
  border-radius: 50%;
  font-size: 16px;
  top: 0;
  position: relative
}

.antd-pro-components-global-header-index-right {
  float: right;
  height: 100%;
  overflow: hidden;
  margin-right: 15px
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action {
  display: inline-block;
  height: 100%;
  padding: 0 6px;
  cursor: pointer;
  transition: all .3s;
  line-height: 66px
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action>i {
  color: #979da7;
  vertical-align: middle;
  font-size: 16px
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action:hover {
  background: rgba(0,0,0,.025)
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action.opened {
  background: rgba(0,0,0,.025)
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-search {
  padding: 0 12px
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-search:hover {
  background: transparent
}

.antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-account .antd-pro-components-global-header-index-avatar {
  margin: 20px 8px 20px 0;
  color: #1561ae;
  vertical-align: top;
  background: hsla(0,0%,100%,.85)
}

.antd-pro-components-global-header-index-dark {
  height: 64px
}

.antd-pro-components-global-header-index-dark .antd-pro-components-global-header-index-action {
  color: hsla(0,0%,100%,.85)
}

.antd-pro-components-global-header-index-dark .antd-pro-components-global-header-index-action>i {
  color: hsla(0,0%,100%,.85)
}

.antd-pro-components-global-header-index-dark .antd-pro-components-global-header-index-action.opened,.antd-pro-components-global-header-index-dark .antd-pro-components-global-header-index-action:hover {
  background: #1561ae
}

.antd-pro-components-global-header-index-dark .antd-pro-components-global-header-index-action .ant-badge {
  color: hsla(0,0%,100%,.85)
}

.antd-pro-components-global-header-index-light .trigger i {
  color: #090c14!important;
  background: #979da7!important
}

@media only screen and (max-width: 992px) {
  .antd-pro-components-global-header-index-header .ant-divider-vertical {
      vertical-align:unset
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-name {
      display: none
  }

  .antd-pro-components-global-header-index-header i.antd-pro-components-global-header-index-trigger {
      padding: 22px 12px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-logo {
      position: relative;
      padding-right: 12px;
      padding-left: 12px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-right {
      position: absolute;
      top: 0;
      left: 34px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-account .antd-pro-components-global-header-index-avatar {
      margin-right: 0
  }
}

@media only screen and (max-width: 768px) {
  .antd-pro-components-global-header-index-header .ant-divider-vertical {
      vertical-align:unset
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-name {
      display: none
  }

  .antd-pro-components-global-header-index-header i.antd-pro-components-global-header-index-trigger {
      padding: 22px 12px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-logo {
      position: relative;
      padding-right: 12px;
      padding-left: 12px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-right {
      position: absolute;
      top: 0;
      left: 7px
  }

  .antd-pro-components-global-header-index-header .antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-account .antd-pro-components-global-header-index-avatar {
      margin-right: 0
  }

  .antd-pro-components-global-header-index-trigger:hover {
      color: #000
  }

  .antd-pro-components-global-header-index-trigger i {
      border-radius: 20px
  }
}

@media only screen and (max-width: 992px) {
  .antd-pro-components-global-header-index-trigger:hover {
      color:#000
  }

  .antd-pro-components-global-header-index-trigger i {
      border-radius: 20px
  }
}

.antd-pro-components-sider-menu-index-ant-layout-sider-children {
  position: relative!important
}

.antd-pro-components-sider-menu-index-badgeStyle {
  margin-left: 12px
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 24px 0
}

.ant-menu-submenu.ant-menu-submenu-popup ul {
  min-width: 220px!important
}

.ant-menu-submenu.ant-menu-submenu-popup ul li a span {
  margin-left: 12px
}

.ant-layout-sider-children .ant-menu-inline li.ant-menu-item a .feather {
  visibility: hidden;
  display: none
}

.ant-layout-sider-children .ant-menu-inline li.ant-menu-submenu-open a .feather {
  visibility: visible;
  display: inline-block
}

.ant-layout-sider-dark .antd-pro-components-sider-menu-index-initialIcon,.ant-menu-dark .antd-pro-components-sider-menu-index-initialIcon {
  border: 1px solid hsla(0,0%,100%,.5)!important;
  color: hsla(0,0%,100%,.5)!important
}

.ant-layout-sider-dark .antd-pro-components-sider-menu-index-initialIcon:hover,.ant-menu-dark .antd-pro-components-sider-menu-index-initialIcon:hover {
  color: #fff!important;
  border: 1px solid #fff!important
}

.ant-menu-item .anticon {
  margin-right: 0!important
}

.antd-pro-components-sider-menu-index-initialIcon {
  background-color: transparent!important;
  border: 1px solid rgba(0,0,0,.5);
  opacity: 1;
  width: 18px;
  display: inline-block;
  height: 18px;
  text-align: center;
  font-size: 8px;
  line-height: 18px;
  color: rgba(0,0,0,.5);
  margin: 0 auto!important;
  border-radius: 6px!important;
  font-weight: 500
}

.antd-pro-components-sider-menu-index-initialIcon:empty {
  display: none
}

.antd-pro-components-sider-menu-index-logo {
  position: relative;
  height: 66px;
  padding-left: 12px;
  padding-top: 0;
  overflow: hidden;
  line-height: 66px;
  transition: all .3s;
  background: #090c14
}

.antd-pro-components-sider-menu-index-logo img {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  margin-left: 3px
}

.antd-pro-components-sider-menu-index-logo h1 {
  display: inline-block;
  margin: 0 0 0 17px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  vertical-align: middle;
  letter-spacing: 0
}

.antd-pro-components-sider-menu-index-logo h1 div {
  margin-left: 24px
}

.antd-pro-components-sider-menu-index-AvantProfile {
  position: relative;
  display: flex;
  padding: 24px;
  background: rgba(0,0,0,.8);
  z-index: 0
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar {
  margin-right: 24px
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar span {
  position: relative;
  z-index: 1
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar span sup {
  box-shadow: 0 0 0 2px #222!important
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar .antd-pro-components-sider-menu-index-pulsatingCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  z-index: 0
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar .antd-pro-components-sider-menu-index-pulsatingCircle:before {
  content: "";
  position: relative;
  display: block;
  width: 150%;
  height: 150%;
  box-sizing: border-box;
  margin-left: -25%;
  margin-top: -25%;
  border-radius: 50%;
  border: 4px solid #01a4e9;
  animation: antd-pro-components-sider-menu-index-pulse-ring 1.25s cubic-bezier(.215,.61,.355,1) infinite
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar .antd-pro-components-sider-menu-index-pulsatingCircle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid hsla(0,0%,100%,.3);
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  animation: antd-pro-components-sider-menu-index-pulse-dot 1.25s cubic-bezier(.455,.03,.515,.955) -.4s infinite
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-ImageBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .04;
  display: none
}

.antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-ant-badge-count {
  box-shadow: 0 0 0 2px #1a202e!important
}

.antd-pro-components-sider-menu-index-AvantProfile h1 {
  color: #fff;
  margin: 0;
  font-weight: 300;
  font-size: 14px
}

.antd-pro-components-sider-menu-index-AvantProfile p {
  color: #fff
}

.antd-pro-components-sider-menu-index-AvantProfile ul {
  text-align: left;
  margin: 6px 0 0;
  padding: 0;
  display: flex
}

.antd-pro-components-sider-menu-index-AvantProfile ul li {
  margin: 0 12px 0 0
}

.antd-pro-components-sider-menu-index-AvantProfile ul li i {
  color: #fff
}

.antd-pro-components-sider-menu-index-AvantProfile ul li a {
  width: 24px;
  display: block;
  height: 24px;
  line-height: 24px
}

@keyframes antd-pro-components-sider-menu-index-pulse-ring {
  0% {
      transform: scale(.33)
  }

  80%,to {
      opacity: 0
  }
}

@keyframes antd-pro-components-sider-menu-index-pulse-dot {
  0% {
      transform: scale(.8)
  }

  50% {
      transform: scale(1)
  }

  to {
      transform: scale(.8)
  }
}

.antd-pro-components-sider-menu-index-sider {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  left: 0;
  background: #1a202e!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar {
  position: fixed;
  top: 0;
  width: 100px;
  left: 0
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar .ant-menu-root {
  height: calc(100vh - 64px);
  overflow-y: auto
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar .ant-menu-inline {
  border-right: 0
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar .ant-menu-inline .ant-menu-item,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar .ant-menu-inline .ant-menu-submenu-title {
  width: 100%
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light {
  background-color: #fff!important;
  border-right: 1px solid #eee
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-fixed-sidebar {
  background-color: #fff
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-ant-menu-submenu>.antd-pro-components-sider-menu-index-ant-menu {
  background-color: red;
  border-radius: 4px
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-logo {
  background: #fff
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-logo h1 {
  color: #0052cc
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-logo h1 div {
  background: #0052cc!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-AvantProfile {
  background: #fff;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-AvantProfile .antd-pro-components-sider-menu-index-AvantAvatar span sup {
  box-shadow: 0 0 0 2px #fff!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-AvantProfile ul li a i {
  color: #222
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-AvantProfile div h1 {
  color: #222
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-sider-menu-index-ant-menu {
  background: transparent
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-light {
  border-right-color: transparent
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .antd-pro-components-global-header-index-trigger i {
  color: #090c14!important;
  background: #979da7!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-item a {
  color: #555!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-item a:hover {
  color: #000!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-item,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-title {
  width: 100%
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-item span,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-title span {
  color: #555!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-item span:hover,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-title span:hover {
  color: #000!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-item span div.ant-tag,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-title span div.ant-tag {
  background: #ccc
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-item span span .ant-tag,.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-title span span .ant-tag {
  background: inherit
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-open .ant-menu-submenu-title {
  background: transparent!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-open .ant-menu-submenu-title span i {
  color: #555
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-open ul li.ant-menu-item {
  background: transparent!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-light .ant-menu-inline .ant-menu-submenu-open ul li.ant-menu-item.ant-menu-item-selected {
  background: rgba(0,82,204,.2)!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-dark {
  background-color: #1a202e!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-dark .antd-pro-components-sider-menu-index-fixed-sidebar {
  background-color: #1a202e!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-dark .antd-pro-components-sider-menu-index-logo {
  background: #fff;
  box-shadow: 1px 1px 0 0 #e8e8e8
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-dark .antd-pro-components-sider-menu-index-logo h1 {
  color: #1561ae
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-dark .ant-menu-light {
  border-right-color: transparent
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-blue {
  background: #0052cc!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-blue .antd-pro-components-sider-menu-index-fixed-sidebar {
  background: #0052cc!important
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-blue .antd-pro-components-sider-menu-index-logo {
  background: #fff;
  box-shadow: 1px 1px 0 0 #e8e8e8
}

.antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-blue .antd-pro-components-sider-menu-index-logo h1 {
  color: #1561ae
}

@media only screen and (max-width: 768px) {
  .antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar {
      position:fixed;
      top: 0;
      width: 100px;
      left: 0
  }
}

@media only screen and (max-width: 992px) {
  .antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar {
      position:fixed;
      top: 0;
      width: 100px;
      left: 0
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3) and (orientation:landscape) {
  .antd-pro-components-sider-menu-index-sider.antd-pro-components-sider-menu-index-fixSiderBar {
      position:fixed;
      top: 0;
      width: 100px;
      left: 0
  }
}

.antd-pro-components-sider-menu-index-icon {
  width: 14px;
  vertical-align: baseline
}

.top-nav-menu li.ant-menu-item {
  height: 64px;
  line-height: 64px
}

.drawer .drawer-content {
  background: #111
}

.ant-menu-inline-collapsed {
  padding: 0!important
}

.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .sider-menu-item-img+span,.ant-menu-inline-collapsed>.ant-menu-item .sider-menu-item-img+span,.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .sider-menu-item-img+span {
  display: inline-block;
  max-width: 0;
  opacity: 0
}

.ant-menu-inline-collapsed .ant-menu-submenu-inline .dripicons {
  font-size: inherit;
  margin-right: 35px!important;
  position: relative
}

.ant-menu-inline-collapsed li.ant-menu-item {
  margin-left: 8px!important
}

.ant-menu-item .sider-menu-item-img+span,.ant-menu-submenu-title .sider-menu-item-img+span {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1)
}

.ant-drawer-left .ant-drawer-body {
  padding: 0
}

.antd-pro-components-top-nav-header-index-head {
  position: relative;
  width: 100%;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  transition: background .3s,width .2s
}

.antd-pro-components-top-nav-header-index-head .ant-menu-submenu.ant-menu-submenu-horizontal {
  height: 100%;
  line-height: 64px
}

.antd-pro-components-top-nav-header-index-head .ant-menu-submenu.ant-menu-submenu-horizontal .ant-menu-submenu-title {
  height: 100%
}

.antd-pro-components-top-nav-header-index-head.antd-pro-components-top-nav-header-index-light {
  background-color: #fff
}

.antd-pro-components-top-nav-header-index-head .antd-pro-components-top-nav-header-index-main {
  display: flex;
  height: 64px;
  padding-left: 24px
}

.antd-pro-components-top-nav-header-index-head .antd-pro-components-top-nav-header-index-main.antd-pro-components-top-nav-header-index-wide {
  max-width: 1200px;
  margin: auto;
  padding-left: 0
}

.antd-pro-components-top-nav-header-index-head .antd-pro-components-top-nav-header-index-main .antd-pro-components-top-nav-header-index-left {
  display: flex;
  flex: 1 1
}

.antd-pro-components-top-nav-header-index-head .antd-pro-components-top-nav-header-index-main .antd-pro-components-top-nav-header-index-right {
  width: 324px
}

.antd-pro-components-top-nav-header-index-logo {
  position: relative;
  width: 165px;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s
}

.antd-pro-components-top-nav-header-index-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle
}

.antd-pro-components-top-nav-header-index-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  vertical-align: top
}

.antd-pro-components-top-nav-header-index-light h1 {
  color: #002140
}

.antd-pro-components-top-nav-header-index-menu {
  height: 64px;
  line-height: 64px;
  border: none
}

.antd-pro-layouts-header-fixedHeader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  transition: width .2s;
  height: 55px;
  line-height: 55px;
  background: #f3f5f8!important
}

.antd-pro-layouts-header-ant-layout-header {
  border: 1px solid #eee
}

.ant-drawer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 0;
  height: 100%
}

.ant-drawer>* {
  transition: transform .3s cubic-bezier(.9,0,.3,.7),box-shadow .3s cubic-bezier(.9,0,.3,.7)
}

.ant-drawer-content-wrapper {
  position: fixed
}

.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%
}

.ant-drawer-left,.ant-drawer-right {
  width: 0;
  height: 100%
}

.ant-drawer-left .ant-drawer-content-wrapper,.ant-drawer-right .ant-drawer-content-wrapper {
  height: 100%
}

.ant-drawer-left.ant-drawer-open,.ant-drawer-right.ant-drawer-open {
  width: 100%
}

.ant-drawer-left.ant-drawer-open.no-mask,.ant-drawer-right.ant-drawer-open.no-mask {
  width: 0
}

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 2px 0 8px rgba(0,0,0,.15)
}

.ant-drawer-right .ant-drawer-content-wrapper {
  right: 0
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0,0,0,.15)
}

.ant-drawer-bottom,.ant-drawer-top {
  width: 100%;
  height: 0%
}

.ant-drawer-bottom .ant-drawer-content-wrapper,.ant-drawer-top .ant-drawer-content-wrapper {
  width: 100%
}

.ant-drawer-bottom.ant-drawer-open,.ant-drawer-top.ant-drawer-open {
  height: 100%
}

.ant-drawer-bottom.ant-drawer-open.no-mask,.ant-drawer-top.ant-drawer-open.no-mask {
  height: 0%
}

.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 0 2px 8px rgba(0,0,0,.15)
}

.ant-drawer-bottom .ant-drawer-content-wrapper {
  bottom: 0
}

.ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 0 -2px 8px rgba(0,0,0,.15)
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
  height: 100%;
  opacity: .3;
  transition: none;
  animation: antdDrawerFadeIn .3s cubic-bezier(.7,.3,.1,1)
}

.ant-drawer-title {
  margin: 0;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px
}

.ant-drawer-content {
  position: relative;
  z-index: 1;
  background-color: #fff;
  background-clip: padding-box;
  border: 0
}

.ant-drawer-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 56px;
  height: 56px;
  padding: 0;
  color: rgba(0,0,0,.45);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color .3s;
  text-rendering: auto
}

.ant-drawer-close:focus,.ant-drawer-close:hover {
  color: rgba(0,0,0,.75);
  text-decoration: none
}

.ant-drawer-header {
  position: relative;
  padding: 16px 24px;
  color: rgba(0,0,0,.65);
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0
}

.ant-drawer-header-no-title {
  color: rgba(0,0,0,.65);
  background: #fff
}

.ant-drawer-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word
}

.ant-drawer-mask {
  position: fixed;
  width: 100%;
  height: 0;
  background-color: rgba(0,0,0,.65);
  opacity: 0;
  filter: alpha(opacity=50);
  transition: opacity .3s linear,height 0s ease .3s
}

.ant-drawer-open {
  transition: transform .3s cubic-bezier(.7,.3,.1,1)
}

.ant-drawer-open-content {
  box-shadow: 0 4px 12px rgba(0,0,0,.15)
}

@keyframes antdDrawerFadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: .3
  }
}

.antd-pro-components-tag-select-index-tagSelect {
  position: relative;
  max-height: 32px;
  margin-left: -8px;
  overflow: hidden;
  line-height: 32px;
  transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.antd-pro-components-tag-select-index-tagSelect .ant-tag {
  margin-right: 24px;
  padding: 0 8px;
  font-size: 14px
}

.antd-pro-components-tag-select-index-tagSelect.antd-pro-components-tag-select-index-expanded {
  max-height: 200px;
  transition: all .3s
}

.antd-pro-components-tag-select-index-tagSelect .antd-pro-components-tag-select-index-trigger {
  position: absolute;
  top: 0;
  right: 0
}

.antd-pro-components-tag-select-index-tagSelect .antd-pro-components-tag-select-index-trigger i {
  font-size: 12px
}

.antd-pro-components-tag-select-index-tagSelect.antd-pro-components-tag-select-index-hasExpandTag {
  padding-right: 50px
}

.antd-pro-components-standard-form-row-index-standardFormRow {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #e8e8e8
}

.antd-pro-components-standard-form-row-index-standardFormRow .ant-form-item {
  margin-right: 24px
}

.antd-pro-components-standard-form-row-index-standardFormRow .ant-form-item-label label {
  margin-right: 0;
  color: rgba(0,0,0,.65)
}

.antd-pro-components-standard-form-row-index-standardFormRow .ant-form-item-control,.antd-pro-components-standard-form-row-index-standardFormRow .ant-form-item-label {
  padding: 0;
  line-height: 32px
}

.antd-pro-components-standard-form-row-index-standardFormRow .antd-pro-components-standard-form-row-index-label {
  flex: 0 0 auto;
  margin-right: 24px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  text-align: right
}

.antd-pro-components-standard-form-row-index-standardFormRow .antd-pro-components-standard-form-row-index-label>span {
  display: inline-block;
  height: 32px;
  line-height: 32px
}

.antd-pro-components-standard-form-row-index-standardFormRow .antd-pro-components-standard-form-row-index-label>span:after {
  content: "\FF1A"
}

.antd-pro-components-standard-form-row-index-standardFormRow .antd-pro-components-standard-form-row-index-content {
  flex: 1 1
}

.antd-pro-components-standard-form-row-index-standardFormRow .antd-pro-components-standard-form-row-index-content .ant-form-item:last-child {
  margin-right: 0
}

.antd-pro-components-standard-form-row-index-standardFormRowLast {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none
}

.antd-pro-components-standard-form-row-index-standardFormRowBlock .ant-form-item,.antd-pro-components-standard-form-row-index-standardFormRowBlock div.ant-form-item-control-wrapper {
  display: block
}

.antd-pro-components-standard-form-row-index-standardFormRowGrid .ant-form-item,.antd-pro-components-standard-form-row-index-standardFormRowGrid div.ant-form-item-control-wrapper {
  display: block
}

.antd-pro-components-standard-form-row-index-standardFormRowGrid .ant-form-item-label {
  float: left
}

.antd-pro-components-article-list-content-index-listContent .antd-pro-components-article-list-content-index-description {
  max-width: 720px;
  line-height: 22px
}

.antd-pro-components-article-list-content-index-listContent .antd-pro-components-article-list-content-index-extra {
  margin-top: 16px;
  color: rgba(0,0,0,.45);
  line-height: 22px
}

.antd-pro-components-article-list-content-index-listContent .antd-pro-components-article-list-content-index-extra>.ant-avatar {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top
}

.antd-pro-components-article-list-content-index-listContent .antd-pro-components-article-list-content-index-extra>em {
  margin-left: 16px;
  color: rgba(0,0,0,.25);
  font-style: normal
}


@media screen and (max-width: 480px) {
  .antd-pro-components-article-list-content-index-listContent .antd-pro-components-article-list-content-index-extra>em {
      display:block;
      margin-top: 8px;
      margin-left: 0
  }
}

.antd-pro-layouts-basic-layout-content {
  margin: 24px;
  padding-top: 102px
}

@media only screen and (max-width: 768px) {
  .antd-pro-layouts-basic-layout-content {
      margin:12px;
      padding-top: 80px
  }
}

@media only screen and (max-width: 992px) {
  .antd-pro-layouts-basic-layout-content {
      margin:12px;
      padding-top: 80px
  }
}
